
#header-box {
	height: 100px;
}

#logo {
	width: 75px;
	height: 75px;
}

#featured-work-title {
	text-align: left;
}

#featured-work-title {
	color: #7d97ad;
	display: block;

}

.container {
	margin: 5px;
}

#projects {
	display: flex;
}

body{
	max-width: 900px;
	margin: auto;
}