
header{
	height: 200px;
	background-color: #02b3e4;
}

.landing{
	height: 400px;
	background-color: lightgray;
}
.featured_work{
	height: 600px;
	background-color: red;.
}
.featured_title{
	height: 100px;
	background-color: yellow;
	color:white;
}

.projects{
	height: 500px;
	width: 100%;
	background-color: green;
}
.footer{
	height: 400px;
	background-color: pink;
	float: bottom;
}

.border{
	border: 5px;
	border-style: solid;
	border-color: black;
}

div {
	box-sizing: border-box;
	width: 100%;
}
